<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/torvalds/linux</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CheckoutOption>
        <timeout>120</timeout>
      </hudson.plugins.git.extensions.impl.CheckoutOption>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>false</noTags>
        <reference></reference>
        <timeout>120</timeout>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># All builtin
echo &quot;CONFIG_MODULES=n&quot; &gt; kernel/configs/builtin.config

# Build for arm64
ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- make defconfig kvm_guest.config builtin.config
ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- make Image.gz vmlinux -j$(nproc)
cp .config arch/arm64/boot/config


# Build for X86_64, well maybe we are not on x86_64 host, fixme...
make defconfig kvm_guest.config builtin.config
make bzImage vmlinux -j$(nproc)
cp .config arch/x86_64/boot/config

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Publish
kernel_version=$(make kernelversion)
scp arch/arm64/boot/Image.gz loic.poulain@people.linaro.org:~/public_html/linux/Image-${kernel_version}-aarch64.gz
scp arch/x86_64/boot/bzImage loic.poulain@people.linaro.org:~/public_html/linux/bzImage-${kernel_version}-x86_64

scp arch/arm64/boot/config loic.poulain@people.linaro.org:~/public_html/linux/config-${kernel_version}-aarch64
scp arch/x86_64/boot/config loic.poulain@people.linaro.org:~/public_html/linux/config-${kernel_version}-x86_64

#scp arch/arm64/boot/vmlinux loic.poulain@people.linaro.org:~/public_html/linux/vmlinux-${kernel_version}-aarch64
#scp arch/x86_64/boot/vmlinux loic.poulain@people.linaro.org:~/public_html/linux/vmlinux-${kernel_version}-x86_64</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>